.math__texarea {
	font-family: Menlo, Monaco, Consolas, Courier New, monospace;
	line-height: 1.6em;
	font-size: 14px;
	background: #f8f7fa;
	border: 1px solid #f1f1f4;
	box-shadow: none;
	white-space: pre;
	word-wrap: normal;
	overflow-x: auto;
	resize: vertical;
}

.math__display {
	background-color: inherit;
}
